@model PROmaderas.Abstracciones.Models.PlanillaAD

<h2>Eliminar Empleado</h2>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>