@model PROmaderas.Abstracciones.Models.PlanillaAD

<h2>Detalle Empleado</h2>

<p><strong>Nombre:</strong> @Model.NombreEmpleado</p>
<p><strong>Cédula:</strong> @Model.Cedula</p>
<p><strong>Puesto:</strong> @Model.Puesto</p>
<p><strong>Salario Neto:</strong> @Model.SalarioNeto</p>

<a asp-action="Index">Volver</a>